.col-md-7{
    background-color: rgba(242, 249, 255, 0.521);
}

.logo{
font-family: 'Kaushan Script', cursive;
 font-style: initial;
font-weight: bolder;
font-size: 40px;
color: rgba(51, 78, 185, 0.808);
margin-left: 40px;
top: 42.49px;
}

.acct{
font-family:'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 68px;
letter-spacing: 0.035em;
color: #3750B2;
margin-left: 40px;
margin-top: 39px;
}

.knw{
color: #3750B2;
font-family:'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 11px;
letter-spacing: 0.035em;
margin-left: 40px;
margin-top: -2em;
margin-bottom: 35px;
}

img{
    height: 29em;
    margin-left: 30px;
    margin-top: 30px;
}

.col-md-5{
    background-color: rgb(232, 245, 255);
    height: 100vh;
}

.form-group{
    background: rgba(237, 243, 251, 0.8);
   box-shadow: 0px 7px 20px rgba(255, 247, 247, 0.63);
   border-radius: 6px;
   width: 490px;
   margin-left: 9px;
   margin-right: 10px;
   color:  #3750B2; 
   display: flex;
   
   }
   

#fav {
    padding-top: 14px;
    padding-right: 5px;
    background-color: white;
    padding-left: 10px;
    border-left: 1px solid  #3750B2;
    border-top: 1px solid  #3750B2;
    border-bottom: 1px solid  #3750B2;
    color: #3750B2;
    border-radius: 6px 0px 0px 6px;
    font-size: 10px;
}

#exampleFormControlInput1 {
    border-left: none;
    border-radius: 0px 6px 6px 0px;
    border-right: 1px solid  #3750B2;
    border-top: 1px solid  #3750B2;
    border-bottom: 1px solid  #3750B2;
}

#eye {
    padding-top: 13px;
    padding-right: 10px;
    background-color: white;
    padding-left: 10px;
    border-right: 1px solid  #3750B2;
    border-top: 1px solid  #3750B2;
    border-bottom: 1px solid  #3750B2;
    color: #3750B2;
    border-radius: 0px 6px 6px 0px;
    font-size: 14px;
}


#exampleFormControlInput2{
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-top: 1px solid  #3750B2;
    border-bottom: 1px solid  #3750B2;

}
::placeholder{
font-family: Roboto;
font-style: normal;
font-size: 8.3px;
letter-spacing: 0.035em;
}

.got{
    margin-left: 15px;
}

.btn{
    width: 100px;
    margin-left: 190px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgb(24, 57, 185);
    background:  #E8F5FF;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    height: 35px;
    margin-top: 30px;
    font-family: Roboto;
    box-shadow: 0px 7px 20px rgba(141, 139, 139, 0.521);
    }
    .btn:hover{
        color: rgba(67, 34, 143, 0.623);
    }

.or {
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgb(8, 44, 187);
    font-weight: bold;
    font-size: 13px;
    margin-top: 5px;
}
.field{
    display: flex;
    margin-top: -3em;
}

.FB{
    height: 68px;
    margin-left: 2em;
}

.google{
    height: 68px;
margin-left: -1em;
}

.info {
    display: flex;
    font-family: Roboto;
    font-size: 11px;
    margin-left: 43px;
    letter-spacing: 0.035em;
    color: rgba(0, 0, 0, 0.8);
    margin-top: -1em;
}

.IN{
    float: right;
    margin-left: 100px;
    letter-spacing: 0.035em;
}
.vector{
    height: 102px;
    width: 576px;
    margin-top: -2em;
    margin-left: -1.35em;
    margin-right: -2em;
    margin-bottom: -5em;
}

@media only screen and (max-width:500px) {
 .col-md-5 {
        width: fit-content;
        height: fit-content;
        font-size: 50px;
        color: rgb(68, 211, 255); 
    }
    .vector{
        height: 110px;
        width: 600px;
        margin-top: -1.2em;
        margin-left: -1.5em;
        margin-right: -15em;

    }
}
@media only screen and (max-width:500px) {
    .col-md-7{
visibility: hidden;
    }

    }